<div flex-xs="100" flex-gt-xs="100">
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <img ng-src="https://worldvectorlogo.com/logos/angular-icon.svg" /> </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Title</span>
                <span class="md-subhead">subhead</span>
            </md-card-header-text>
        </md-card-header>
        <!-- <img ng-src="http://newworshipmedia.com/display/blue_watercolor_grunge_01.jpg" class="md-card-image" alt="Washed Out">
 -->
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">In-card actions</span>
                <span class="md-subhead">Description</span>
            </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="start center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
        </md-card-actions>
        <md-divider></md-divider>
        <md-card-content layout="row" layout-xs="column" flex>
            <md-card-header-text>
                <span class="md-headline">Posts</span>
            </md-card-header-text>
            <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                <span><h1>Information</h1> There are 10 jobs for Ui disigning</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                <span><h1>Express </h1> There need express with Angular</span>
            </md-whiteframe>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content>
            <h1>Members</h1>
            <p>
                <img ng-src="https://worldvectorlogo.com/logos/angular-icon.svg" /> Akanksha
            </p>
            <p>
                <img ng-src="https://worldvectorlogo.com/logos/angular-icon.svg" /> Manisha
            </p>
            <p>
                <img ng-src="https://worldvectorlogo.com/logos/angular-icon.svg" /> Shusmita
            </p>
            <p>
                <img ng-src="https://worldvectorlogo.com/logos/angular-icon.svg" /> Anjali
            </p>
        </md-card-content>
    </md-card>
</div>
